:root {
  --ifm-color-primary: #3A36DB;
  --ifm-color-primary-dark: #2E2BC8;
  --ifm-color-primary-light: #4A46E6;
  --ifm-background-color: #F8FAFF;
  --ifm-font-color-base: #0D1025;
}





.navbar {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.menu__link--active {
  font-weight: 600;
  color: var(--ifm-color-primary);
}
